<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <receiver
            android:name=".CalculatorWidgetProvider"
            android:label="@string/calc_widget_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calculator_widget_provider_info" />
        </receiver>

        <activity
            android:name=".CalculatorActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <!-- Asks the launcher to pin this widget to the home screen. -->
        <activity
            android:name=".PinWidgetActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay" />

    </application>
</manifest>
